body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    opacity: 0;
}

.vh100 {
    height: 100vh;
}